.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.container > *{
  min-width: 10rem;
  max-width: 30rem;
}

/*
img{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 35rem;
  margin: 1rem;
}
*/

.details{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: 3rem;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.details .header{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.details .name{
  font-size: 150%;
  font-weight: bold;
}

.details .specs{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.details .specs > span{
  padding: .5rem;
  font-size: 1.2rem;
  margin: .5rem .5rem .5rem 0;
  border-radius: .5rem;
  background-color: whitesmoke;
}

.details .price{
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
}

.details button{
  color: white;
  background: red;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

.details button:hover{
  cursor: pointer;
  opacity: .8;
}

