/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
=======

>>>>>>> f32c2cf6be6efd19edf42087ae643dfad30c0fbb
*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}

a{
  text-decoration: none;
}
